@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
}

@layer base {
  :root {
    --background: 220 13% 96%;
    --foreground: 220 14% 10%;
    --card: 220 13% 99%;
    --card-foreground: 220 14% 10%;
    --popover: 220 13% 99%;
    --popover-foreground: 220 14% 10%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 14% 10%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 10% 40%;
    --accent: 182 100% 74%;
    --accent-foreground: 220 14% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 88%;
    --input: 220 13% 91%;
    --ring: 231 48% 48%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0rem;
  }
  .dark {
    --background: 220 14% 10%;
    --foreground: 220 13% 96%;
    --card: 220 14% 12%;
    --card-foreground: 220 13% 96%;
    --popover: 220 14% 12%;
    --popover-foreground: 220 13% 96%;
    --primary: 231 48% 60%;
    --primary-foreground: 231 48% 10%;
    --secondary: 220 14% 15%;
    --secondary-foreground: 220 13% 96%;
    --muted: 220 14% 15%;
    --muted-foreground: 220 10% 60%;
    --accent: 182 100% 74%;
    --accent-foreground: 220 14% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 14% 20%;
    --input: 220 14% 15%;
    --ring: 231 48% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
